<%= form_for(pallet, :remote => true, :html => { :id => "edit_form" }) do |f| %>
  <div id='form_title' class="field preview">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div id='form-images' class="field preview">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field preview">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field preview">
    <%= f.label :colors_count %>
    <%= f.number_field :colors_count %>
  </div>

  <div id='form-colors' class="field preview">
    <%= f.label :colors %>
    <%= f.text_field :colors %>
  </div>

  <span class="form-btn">
    <%= f.submit 'Save', title: "Or auto save per 30 seconds.", aria: {hidden:"true"}, data: {toggle:"tooltip", placement:"bottom"} %>
  </span>
<% end %>
