<%= render :partial => 'swiper', locals: {pallet: @pallet} %>

<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @pallet.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @pallet.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @pallet.description %>
  </p>

  <p>
    <strong>Colors count:</strong>
    <%= @pallet.colors_count %>
  </p>

  <p>
    <strong>Colors:</strong>
    <%= @pallet.colors %>
  </p>

  <div>
    <input class="ink" type="color" id="colorChoice">
    <div class="bottle">
      <%= image_tag("inkBottle.svg") %>
    </div>
    <div class="label">Nothing</div>
  </div>

</div>

<%= link_to 'Edit', edit_pallet_path(@pallet) %> |
<%= link_to 'Back', pallets_path %>
