<%= render :partial => 'swiper', locals: {pallet: @pallet} %>

<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @pallet.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @pallet.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @pallet.description %>
  </p>

  <p>
    <strong>Colors count:</strong>
    <%= @pallet.colors_count %>
  </p>

  <p>
    <strong>Colors:</strong>
    <%= @pallet.colors %>
  </p>


  <% @pallet.colors.split(" ").each do |color_hex| %>
    <div>
      <input class="ink-water" type="color" id="colorChoice" value="<%= color_hex %>"/>
      <div class="ink-well" style="background-color: <%= color_hex %>">
        <%= image_tag("inkBottle.svg", :style => "width: 25%;") %>
      </div>
    </div>
  <% end %>


</div>

<%= link_to 'Edit', edit_pallet_path(@pallet) %> |
<%= link_to 'Back', pallets_path %>

<script>

</script>
