<!DOCTYPE html>
<html>
  <head>
    <title>Picolor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'users/menu/registration_items' %>
      <%= render 'users/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
