<!DOCTYPE html>
<html>
  <head>
    <title>Picolor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pallet', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to 'Picolor', pallets_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if not current_page?(action: 'index') then %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to pallet_path do %>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_pallet_path do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <% end %>
            </li>
          </ul>
          <% else %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% edit_page = /pallets\/\S{36}\/edit/=~request.path %>
              <% if edit_page %>
                <%= render 'form', pallet: @pallet %>
              <% else %>
                <%= link_to 'Create Pallet', pallets_path, method: :post %>
              <% end %>
            </li>
            <% show_page = /pallets\/\S{36}/=~request.path %>
            <% if show_page %>
              <li>
                <%= link_to 'Fork', pallets_path(fork_id: @pallet), { method: :post} %>
              </li>
            <% end %>
            <li>
              <%= render 'painters/menu/registration_items' %>
            </li>
            <li>
              <%= render 'painters/menu/login_items' %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
