<!DOCTYPE html>
<html>
  <head>
    <title>Picolor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pallet', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render :partial => 'feature/nav_top', locals: {pallet: @pallet} %>

    <%= yield %>

  </body>
</html>
